{% set prefix="bm-poc2" %}
{% set region=properties.region | default("europe-west3") %}

resources:
{% for network in properties.networks %}
- name: {{prefix}}-{{ network.name }}-vpc
  type: compute.v1.network
  properties:
    autoCreateSubnetworks: false

- name: {{prefix}}-{{ network.name }}-subnet
  type: compute.v1.subnetwork
  properties:
    region: us-west1
    network: $(ref.{{ prefix }}-{{ network.name }}-vpc.selfLink)
    ipCidrRange: {{ network.ipCidrRange }}
{% endfor %}

- name: bm-fgt
  type: fgtvm.jinja
  properties:
    zone: {{ region }}-b
    networks:
    {% for nic in properties.networks %}
    - name: {{ nic.name }}
      vpc: $(ref.{{ prefix }}-{{ nic.name }}-vpc.selfLink)
      subnet: $(ref.{{ prefix }}-{{ nic.name }}-subnet.selfLink)
      ipCidrRange: {{ nic.ipCidrRange }}
      {% if "public" in nic %}
      externalIP:
        name: {{ nic.name }}
      {% endif %}
    {% endfor %}
