{% set prefix = properties.prefix|default(env.deployment) %}

resources:
{% for net in properties.networks %}
- name: {{ prefix }}-webserver{{ loop.index }}
  type: compute.v1.instance
  properties:
    region: {{ properties.region }}
    zone: {{ properties.zone }}
    machineType: zones/{{ properties.zone }}/machineTypes/e2-micro
    disks:
    - deviceName: {{ prefix }}-webserver{{ loop.index }}
      type: PERSISTENT
      boot: true
      autoDelete: true
      diskSizeGb: 10
      licenses:
      - projects/ubuntu-os-cloud/global/licenses/ubuntu-1804-lts
      initializeParams:
        diskName: {{ prefix }}-webserver{{ loop.index }}-disk
        sourceImage: https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/family/ubuntu-1804-lts

    metadata:
      items:
      - key: startup-script
      {% if loop.index==1 %}
        value: |
          apt update
          apt install nginx -y
          wget -O /etc/nginx/sites-available/proxy "https://github.com/bartekmo/fortinet-gcp-solutions/raw/poc20200914/gcp-dm/poc/nginx/proxy"
          rm /etc/nginx/sites-enabled/default
          ln -s /etc/nginx/sites-available/proxy /etc/nginx/sites-enabled/
          systemctl restart nginx
      {% endif %}
      {% if loop.index==2 %}
        value: |
          apt update
          apt install nginx -y
          wget -O /var/www/html/rtt.html "https://github.com/bartekmo/fortinet-gcp-solutions/raw/poc20200914/gcp-dm/poc/nginx/rtt.html"
          wget -O /var/www/html/index.html "https://github.com/bartekmo/fortinet-gcp-solutions/raw/poc20200914/gcp-dm/poc/nginx/index.html"

      {% endif %}
    networkInterfaces:
    - network: $(ref.{{ prefix }}-{{ net.name }}.selfLink )
      subnetwork: $(ref.{{ prefix }}-{{ net.name }}-subnet.selfLink )
  metadata:
    dependsOn:
    - {{ prefix }}-default-via-fgt
    - {{ prefix }}-peering-hub-to-tier{{ loop.index }}
    - {{ prefix }}-peering-tier{{ loop.index }}-to-hub

{% endfor %}
